.search-box-input {
  width: 60%;
  height: 55px;
  outline: none;
  background-color: black;
  border: 1px solid hsla(108, 100%, 19%);
  border-radius: 10px 0 0 10px;
}
.search-box-input:enabled {
  color: #fff;
  padding-left: 10px;
}
.search-box-input::placeholder {
  color: #fff;
}

.search-box-btn {
  height: 55px;
  width: 110px;
  border: none;
  border: 1px solid hsla(108, 100%, 19%);
  background-color: hsla(108, 100%, 19%);
  color: #fff;
  border-radius: 0 10px 10px 0;
  font-size: 22px;
}
